/*
    This file includes base styling for the demos.

    This is for setting up the demos and is not specific to the 'grid' bits,
    so you shouldn't need to change this.
*/

:root {
    --black: #444;
    --white: #fff;
    --rosegold: #b76e79;
}

html {
    font-size: 10px;
    color: var(--black);
}

.gridItem {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    height: 200px;
  }